@font-face {
    font-family: 'Beautique Display';
    src: url('BeautiqueDisplay-Black.eot');
    src: url('BeautiqueDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('BeautiqueDisplay-Black.woff2') format('woff2'),
        url('BeautiqueDisplay-Black.woff') format('woff'),
        url('BeautiqueDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beautique Display';
    src: url('BeautiqueDisplay-Medium.eot');
    src: url('BeautiqueDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('BeautiqueDisplay-Medium.woff2') format('woff2'),
        url('BeautiqueDisplay-Medium.woff') format('woff'),
        url('BeautiqueDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beautique Display';
    src: url('BeautiqueDisplay-Light.eot');
    src: url('BeautiqueDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('BeautiqueDisplay-Light.woff2') format('woff2'),
        url('BeautiqueDisplay-Light.woff') format('woff'),
        url('BeautiqueDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beautique Display';
    src: url('BeautiqueDisplay-Bold.eot');
    src: url('BeautiqueDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('BeautiqueDisplay-Bold.woff2') format('woff2'),
        url('BeautiqueDisplay-Bold.woff') format('woff'),
        url('BeautiqueDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beautique Display';
    src: url('BeautiqueDisplay-Regular.eot');
    src: url('BeautiqueDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('BeautiqueDisplay-Regular.woff2') format('woff2'),
        url('BeautiqueDisplay-Regular.woff') format('woff'),
        url('BeautiqueDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

