@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Black.eot');
    src: url('Satoshi-Black.eot?#iefix') format('embedded-opentype'),
        url('Satoshi-Black.woff2') format('woff2'),
        url('Satoshi-Black.woff') format('woff'),
        url('Satoshi-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Bold.eot');
    src: url('Satoshi-Bold.eot?#iefix') format('embedded-opentype'),
        url('Satoshi-Bold.woff2') format('woff2'),
        url('Satoshi-Bold.woff') format('woff'),
        url('Satoshi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Light.eot');
    src: url('Satoshi-Light.eot?#iefix') format('embedded-opentype'),
        url('Satoshi-Light.woff2') format('woff2'),
        url('Satoshi-Light.woff') format('woff'),
        url('Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Medium.eot');
    src: url('Satoshi-Medium.eot?#iefix') format('embedded-opentype'),
        url('Satoshi-Medium.woff2') format('woff2'),
        url('Satoshi-Medium.woff') format('woff'),
        url('Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Regular.eot');
    src: url('Satoshi-Regular.eot?#iefix') format('embedded-opentype'),
        url('Satoshi-Regular.woff2') format('woff2'),
        url('Satoshi-Regular.woff') format('woff'),
        url('Satoshi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

