@font-face {
    font-family: 'Source Serif 4';
    src: url('SourceSerif4-ExtraLight.eot');
    src: url('SourceSerif4-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('SourceSerif4-ExtraLight.woff2') format('woff2'),
        url('SourceSerif4-ExtraLight.woff') format('woff'),
        url('SourceSerif4-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif 4';
    src: url('SourceSerif4-ExtraBold.eot');
    src: url('SourceSerif4-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('SourceSerif4-ExtraBold.woff2') format('woff2'),
        url('SourceSerif4-ExtraBold.woff') format('woff'),
        url('SourceSerif4-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif 4';
    src: url('SourceSerif4-Bold.eot');
    src: url('SourceSerif4-Bold.eot?#iefix') format('embedded-opentype'),
        url('SourceSerif4-Bold.woff2') format('woff2'),
        url('SourceSerif4-Bold.woff') format('woff'),
        url('SourceSerif4-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif 4';
    src: url('SourceSerif4-Black.eot');
    src: url('SourceSerif4-Black.eot?#iefix') format('embedded-opentype'),
        url('SourceSerif4-Black.woff2') format('woff2'),
        url('SourceSerif4-Black.woff') format('woff'),
        url('SourceSerif4-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif 4';
    src: url('SourceSerif4-SemiBold.eot');
    src: url('SourceSerif4-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('SourceSerif4-SemiBold.woff2') format('woff2'),
        url('SourceSerif4-SemiBold.woff') format('woff'),
        url('SourceSerif4-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif 4';
    src: url('SourceSerif4-Regular.eot');
    src: url('SourceSerif4-Regular.eot?#iefix') format('embedded-opentype'),
        url('SourceSerif4-Regular.woff2') format('woff2'),
        url('SourceSerif4-Regular.woff') format('woff'),
        url('SourceSerif4-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif 4';
    src: url('SourceSerif4-Medium.eot');
    src: url('SourceSerif4-Medium.eot?#iefix') format('embedded-opentype'),
        url('SourceSerif4-Medium.woff2') format('woff2'),
        url('SourceSerif4-Medium.woff') format('woff'),
        url('SourceSerif4-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif 4';
    src: url('SourceSerif4-Light.eot');
    src: url('SourceSerif4-Light.eot?#iefix') format('embedded-opentype'),
        url('SourceSerif4-Light.woff2') format('woff2'),
        url('SourceSerif4-Light.woff') format('woff'),
        url('SourceSerif4-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

