/* <link href="https://rglhpcjp-5500.inc1.devtunnels.ms/css-js/createMe-style.css" rel="stylesheet" type="text/css"> */

.diagram-tab-round-img-1:hover {
  box-shadow: 0 0 200px 40px rgba(51, 73, 239, 0.4);
}

.diagram-tab-round-img-2:hover {
  box-shadow: 0 0 200px 40px rgba(103, 188, 171, 0.4);
}

.diagram-tab-round-img-3:hover {
  box-shadow: 0 0 200px 40px rgba(51, 73, 239, 0.4);
}

.diagram-tab-img-wrapper:has(.diagram-tab-round-img:hover):hover .diagram-tab-round-img:not(:hover) {
  box-shadow: none;
}

.diagram-tab-round-wrapper.tab-active {
  opacity: 0;
}

.diagram-tab-item-content-v3.active .diagram-tab-icon {
  color: currentColor;
}

.diagram-tab-item-content-v3.active .diagram-tab-icon-active {
  transform: scaleY(0);
}

.diagram-tab-item-content-v3.active .diagram-tab-accordion {
  grid-template-rows: 1fr;
}

.diagram-section-v3 :where(.diagram-tab-description-content, .diagram-tab-accordion-content)::-webkit-scrollbar {
  width: 6px;
  background-color: gray;
}

.diagram-section-v3 :where(.diagram-tab-description-content, .diagram-tab-accordion-content)::-webkit-scrollbar-thumb {
  background-color: black;
}

@media screen and (max-width: 1340px) and (min-width: 992px) {
  @media screen and (min-width: 992px) {
    .theme-section-title.theme-section-title-3 {
      font-size: 40px;
    }

    .diagram-tab-wrapper {
      gap: 30px;
    }

    .diagram-tab-title {
      font-size: 40px;
    }

    .diagram-tab-accordion-content {
      gap: 20px;
      margin-top: 25px;
    }
  }

  @media screen and (min-width: 1141px) {
    .diagram-tab-accordion-content {
      font-size: 18px;
    }

    .diagram-tab-round-content {
      max-width: 300px;
    }

    .diagram-tab-accordion-content {
      gap: 25px;
    }
  }

  @media screen and (min-width: 1241px) {
    .diagram-section-v2 {
      padding-bottom: 50px;
    }

    .diagram-tab-title {
      font-size: 44px;
    }

    .diagram-tab-sub-title {
      font-size: 24px;
    }

    .diagram-tab-description {
      font-size: 22px;
    }

    .diagram-tab-accordion-content {
      font-size: 19px;
      line-height: 1.4;
    }
  }
}

@media screen and (max-width: 639px) and (min-width: 480px) {
  .diagram-tab-img-wrapper .diagram-tab-round {
    max-width: 250px;
  }

  .diagram-tab-img-wrapper .diagram-tab-round-1 {
    margin-left: -100px;
  }

  .diagram-tab-img-wrapper .diagram-tab-round-2 {
    margin-left: 100px;
  }

  .diagram-tab-img-wrapper .diagram-tab-round-3 {
    margin-top: 170px;
  }
}

@media screen and (max-width: 479px) {
  .diagram-tab-img-wrapper .diagram-tab-round {
    max-width: 150px;
  }

  .diagram-tab-img-wrapper .diagram-tab-round-1 {
    margin-left: -60px;
  }

  .diagram-tab-img-wrapper .diagram-tab-round-2 {
    margin-left: 60px;
  }

  .diagram-tab-img-wrapper .diagram-tab-round-3 {
    margin-top: 100px;
  }
}

@media screen and (min-width: 992px) {
  @media screen and (max-height: 900px) {
    .diagram-section-v2.diagram-section-v3 {
      padding-block: 50px;
    }

    .diagram-tab-round-content {
      max-width: 320px;
    }

    .diagram-tab-title {
      font-size: 44px;
    }

    .diagram-tab-sub-title {
      font-size: 24px;
    }

    .diagram-tab-description {
      font-size: 22px;
    }

    .diagram-tab-description {
      margin-top: 25px;
    }

    .diagram-tab-accordion-content {
      max-height: 460px;
      font-size: 20px;
    }
  }

  @media screen and (max-height: 799px) {
    .diagram-tab-round-content,
    .diagram-tab-round {
      max-width: 280px;
    }

    .diagram-tab-img-wrapper .diagram-tab-round-1 {
      margin-left: -107px;
    }

    .diagram-tab-img-wrapper .diagram-tab-round-2 {
      margin-left: 107px;
    }

    .diagram-tab-img-wrapper .diagram-tab-round-3 {
      margin-top: 197px;
    }

    .diagram-tab-accordion-content {
      max-height: 430px;
    }

    @media screen and (max-width: 1140px) {
      .diagram-tab-title {
        font-size: 40px;
      }

      .diagram-tab-sub-title {
        font-size: 22px;
      }

      .diagram-tab-description {
        font-size: 20px;
      }

      .diagram-tab-accordion-content {
        font-size: 18px;
      }
    }
  }

  @media screen and (max-height: 750px) {
    .diagram-section-v2.diagram-section-v3 {
      min-height: auto;
    }

    .diagram-tab-img-wrapper {
      position: absolute;
      left: 34px;
      right: 34px;
    }

    .diagram-tab-content-wrapper .diagram-tab-round-v3 {
      display: block;
      opacity: 0;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  @media screen and (max-height: 900px) {
    .diagram-section-v2.diagram-section-v3 {
      padding-block: 50px;
    }

    .diagram-tab-round-content,
    .diagram-tab-round {
      max-width: 320px;
    }

    .diagram-tab-img-wrapper .diagram-tab-round-1 {
      margin-left: -127px;
    }

    .diagram-tab-img-wrapper .diagram-tab-round-2 {
      margin-left: 127px;
    }

    .diagram-tab-img-wrapper .diagram-tab-round-3 {
      margin-top: 217px;
    }

    .diagram-tab-accordion-content {
      max-height: 445px;
    }
  }

  @media screen and (max-height: 799px) {
    .diagram-section-v3 .theme-section-title.theme-section-title-3 {
      margin-bottom: 30px;
    }

    .diagram-tab-accordion-content {
      max-height: 420px;
    }
  }
}
