/* <link href="https://rglhpcjp-5500.inc1.devtunnels.ms/css-js/createMe-style.css" rel="stylesheet" type="text/css"> */

@keyframes rotate {
  0% {
    stroke-dashoffset: 63;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.splide__pagination .splide__pagination__page.is-active .progress {
  animation: rotate 8s 1 linear;
}
