<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
  </head>
  <body>

    {% block header %}
      {% include "../components/header.njk" %}
    {% endblock %}

    <main>
      {% block main %}
      {% endblock %}
    </main>

    {% block footer %}
      {% include "../components/footer.njk" %}
    {% endblock %}
  </body>
</html>