/* <link href="https://rglhpcjp-5500.inc1.devtunnels.ms/createMe-style.css" rel="stylesheet" type="text/css"> */

.header {
  position: relative;
}

/* Start default start animation css------------------------------- */
.process-section-title-wrapper .hero-title-word-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}

.process-section-title-wrapper .hero-title-letter {
  display: inline-block;
}

.process-section-title-wrapper .hero-title-letters {
  --position: 100%;
  display: inline-block;
  mask: linear-gradient(90deg, black var(--position), transparent 0%);
}

.process-section-title-wrapper .hero-title-word {
  white-space: nowrap;
  display: inline-flex;
}

.process-section-title-wrapper .hero-title-hidden-letters-wrapper {
  opacity: 0;
  visibility: hidden;
}

.process-section-title-wrapper .hero-title-hidden-letters {
  display: inline-flex;
  justify-content: center;
}

.process-section-title-wrapper.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.process-section-description-wrapper,
.process-tab-img-wrapper,
.process-img-layer,
.process-tab-content-wrapper,
.process-tab-bar-animation,
.process-slider-sub-title,
.process-slider-description-wrapper,
.process-slider-grid-wrapper {
  opacity: 0;
}

.process-tab-content.active .process-tab-content-description,
.process-slider-content.active .process-tab-content-description,
.process-tab.active {
  color: white;
}

.process-tab.active .process-tab-title,
.process-slider-content.active .process-tab-btn {
  color: var(--skyblue);
}

.process-tab.active {
  pointer-events: none;
}

.process-slider-content.active .process-tab-btn {
  pointer-events: auto;
  border-color: var(--white);
  color: var(--white);
}

.process-slider-content.active .process-tab-btn:hover {
  border-color: var(--skyblue);
  color: var(--skyblue);
}

.process-img-section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc((100vw - var(--containerWidth)) / 2);
  z-index: 11;
  background-color: var(--black);
}

.process-img-section .slider-dot {
  cursor: pointer;
  padding: 4px;
}

.process-img-section .slider-dot.active {
  pointer-events: none;
}

.process-img-section .slider-dot .slider-dot-content {
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--accent-2);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.process-img-section .slider-dot.active .slider-dot-content {
  background: var(--white);
}

/* Start responsive animation content------------------------------- */
.process-tab-content-wrapper {
  --index: 0;
}
/* End responsive animation content------------------------------- */

@media screen and (max-width: 991px) {
  .process-img-section .slider-dot {
    padding: 6px;
  }

  @media screen and (min-width: 768px) {
    .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(2).active) + .process-img-layer .process-img-layer-gray-left {
      margin-right: -5px;
    }

    .process-tab-content-list .process-tab-2 {
      padding-left: 5px;
    }

    .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(3).active) + .process-img-layer .process-img-layer-gray-left,
    .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(4).active) + .process-img-layer .process-img-layer-gray-left {
      margin-right: -7px;
    }

    .process-tab-content-list .process-tab-3,
    .process-tab-content-list .process-tab-4 {
      padding-left: 7px;
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 641px) {
  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(2).active) + .process-img-layer .process-img-layer-gray-left {
    margin-right: -4px;
  }

  .process-tab-content-list .process-tab-2 {
    padding-left: 4px;
  }

  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(3).active) + .process-img-layer .process-img-layer-gray-left,
  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(4).active) + .process-img-layer .process-img-layer-gray-left {
    margin-right: -6px;
  }

  .process-tab-content-list .process-tab-3,
  .process-tab-content-list .process-tab-4 {
    padding-left: 6px;
  }
}

@media screen and (max-width: 640px) and (min-width: 480px) {
  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(2).active) + .process-img-layer .process-img-layer-gray-left {
    margin-right: -3px;
  }

  .process-tab-content-list .process-tab-2 {
    padding-left: 3px;
  }

  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(3).active) + .process-img-layer .process-img-layer-gray-left,
  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(4).active) + .process-img-layer .process-img-layer-gray-left {
    margin-right: -4px;
  }

  .process-tab-content-list .process-tab-3,
  .process-tab-content-list .process-tab-4 {
    padding-left: 4px;
  }
}

@media screen and (max-width: 479px) and (min-width: 391px) {
  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(2).active) + .process-img-layer .process-img-layer-gray-left {
    margin-right: -5px;
  }

  .process-tab-content-list .process-tab-2 {
    padding-left: 5px;
  }

  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(3).active) + .process-img-layer .process-img-layer-gray-left,
  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(4).active) + .process-img-layer .process-img-layer-gray-left {
    margin-right: -7px;
  }

  .process-tab-content-list .process-tab-3,
  .process-tab-content-list .process-tab-4 {
    padding-left: 7px;
  }
}

@media screen and (max-width: 375px) {
  .process-slider-main-img-wrapper {
    height: 265px;
  }

  .process-tab-content-wrapper {
    transform: translateX(calc(-1 * (245px * var(--index) + (var(--index) * 20px))));
  }

  .process-tab-bar-animation {
    width: calc(245px * (var(--index) + 1) + (var(--index) + (var(--index) + 1)) * 10px);
  }

  .process-tab-content-list,
  .process-tab-content-wrapper {
    gap: 20px;
  }

  .process-slider-content,
  .process-tab.process-tab-1,
  .process-tab.process-tab-2,
  .process-tab.process-tab-3,
  .process-tab.process-tab-4 {
    width: 245px;
  }
}

@media screen and (max-width: 390px) {
  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(2).active) + .process-img-layer .process-img-layer-gray-left {
    margin-right: -3px;
  }

  .process-tab-content-list .process-tab-2 {
    padding-left: 3px;
  }

  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(3).active) + .process-img-layer .process-img-layer-gray-left,
  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(4).active) + .process-img-layer .process-img-layer-gray-left {
    margin-right: -5px;
  }

  .process-tab-content-list .process-tab-3,
  .process-tab-content-list .process-tab-4 {
    padding-left: 5px;
  }
}

@media screen and (min-width: 992px) {
  .process-tab-img-wrapper {
    transform: translateY(80%) scale(0.8);
  }

  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(2).active) + .process-img-layer .process-img-layer-gray-left {
    margin-right: -6px;
  }

  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(3).active) + .process-img-layer .process-img-layer-gray-left,
  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(4).active) + .process-img-layer .process-img-layer-gray-left {
    margin-right: -9px;
  }
}

@media screen and (max-width: 1320px) {
  @media screen and (min-width: 992px) {
    .process-section-title,
    .process-slider-main-title,
    .process-slider-title {
      font-size: 46px;
    }

    .process-section-title .tm-sup-text,
    .process-slider-main-title .tm-sup-text {
      top: 12px;
      font-size: 6px;
    }

    .process-section-description {
      font-size: 20px;
    }

    .process-tab-img-wrapper {
      margin-top: 14px;
    }

    .process-tab-content-description,
    .process-tab-title,
    .process-tab-description {
      font-size: 14px;
    }

    .process-tab-title {
      min-height: 37px;
    }

    .process-slider-sub-title {
      font-size: 22px;
      margin-block: 40px 20px;
    }

    .process-slider-description {
      font-size: 20px;
    }

    .process-slider-grid-wrapper {
      margin-top: 66px;
    }

    .process-slider-grid-title {
      font-size: 14px;
      margin-bottom: 18px;
    }

    .process-slider-grid {
      gap: 26px;
    }

    .process-slider-grid-item-content {
      font-size: 20px;
      padding: 0 0 12px 14px;
    }

    .process-slider-img-wrapper {
      padding-right: 3%;
    }

    .process-slider-main-img-wrapper {
      margin-top: 45px;
    }

    .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(2).active) + .process-img-layer .process-img-layer-gray-left {
      margin-right: -5px;
    }

    .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(3).active) + .process-img-layer .process-img-layer-gray-left,
    .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(4).active) + .process-img-layer .process-img-layer-gray-left {
      margin-right: -7px;
    }
  }

  @media screen and (min-width: 1100px) {
    .process-slider-main-img-wrapper {
      height: 600px;
    }

    .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(3).active) + .process-img-layer .process-img-layer-gray-left,
    .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(4).active) + .process-img-layer .process-img-layer-gray-left {
      margin-right: -8px;
    }
  }
}

@media screen and (max-width: 479px) {
  .process-img-section .slider-dot {
    padding: 4px;
  }

  .process-img-section .slider-dot .slider-dot-content {
    width: 8px;
  }

  .process-section-title-wrapper .hero-title-word-wrapper {
    display: flex;
    column-gap: 6px;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media screen and (max-height: 750px) {
    .process-tab-title {
      min-height: 37px;
      font-size: 14px;
    }

    .process-slider-sub-title {
      margin-block: 14px 12px;
      font-size: 16px;
    }

    .process-slider-grid-wrapper {
      margin-top: 30px;
    }

    .process-slider-main-img-wrapper {
      height: 245px;
      margin-top: 40px;
    }

    .process-section-description {
      font-size: 16px;
      min-height: 39px;
    }

    .process-tab-content-description {
      margin-bottom: 16px;
    }

    .process-slider-dots {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1099px) and (min-width: 992px) {
  .process-slider-main-img-wrapper {
    height: 500px;
  }
}

@media screen and (min-width: 992px) and (max-height: 880px) {
  .process-section-title,
  .process-slider-main-title,
  .process-slider-title {
    font-size: 46px;
  }

  .process-section-title .tm-sup-text,
  .process-slider-main-title .tm-sup-text {
    top: 12px;
    font-size: 6px;
  }

  .process-section-description {
    font-size: 20px;
  }

  .process-tab-img-wrapper {
    max-width: 1000px;
    margin-inline: auto;
  }

  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(3).active) + .process-img-layer .process-img-layer-gray-left,
  .process-tab-img-content-wrapper:has(.process-tab-img-content:nth-child(4).active) + .process-img-layer .process-img-layer-gray-left {
    margin-right: -7px;
  }

  .process-tab-img-wrapper {
    margin-top: 14px;
  }

  .process-tab-content-description,
  .process-tab-title,
  .process-tab-description {
    font-size: 14px;
  }

  .process-tab-title {
    min-height: 37px;
  }

  .process-slider-sub-title {
    font-size: 22px;
    margin-block: 40px 20px;
  }

  .process-slider-description {
    font-size: 22px;
  }

  .process-slider-grid-wrapper {
    margin-top: 66px;
  }

  .process-slider-grid-title {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .process-slider-grid {
    gap: 26px;
  }

  .process-slider-grid-item-content {
    font-size: 20px;
    padding: 0 0 12px 14px;
  }
}
/* End default start animation css------------------------------- */
