@font-face {
  font-family: "Transducer";
  src: url("Transducer-ExtendedBold.eot");
  src: url("Transducer-ExtendedBold.eot?#iefix") format("embedded-opentype"),
    url("Transducer-ExtendedBold.woff2") format("woff2"),
    url("Transducer-ExtendedBold.woff") format("woff"),
    url("Transducer-ExtendedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src: url("Transducer-ExtendedMedium.eot");
  src: url("Transducer-ExtendedMedium.eot?#iefix") format("embedded-opentype"),
    url("Transducer-ExtendedMedium.woff2") format("woff2"),
    url("Transducer-ExtendedMedium.woff") format("woff"),
    url("Transducer-ExtendedMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer Exp";
  src: url("Transducer-ExtendedRegular.eot");
  src: url("Transducer-ExtendedRegular.eot?#iefix") format("embedded-opentype"),
    url("Transducer-ExtendedRegular.woff2") format("woff2"),
    url("Transducer-ExtendedRegular.woff") format("woff"),
    url("Transducer-ExtendedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer Thin Exp Hairline";
  src: url("Transducer-ExtendedHairline.eot");
  src: url("Transducer-ExtendedHairline.eot?#iefix") format("embedded-opentype"),
    url("Transducer-ExtendedHairline.woff2") format("woff2"),
    url("Transducer-ExtendedHairline.woff") format("woff"),
    url("Transducer-ExtendedHairline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer Black Exp";
  src: url("Transducer-ExtendedBlack.eot");
  src: url("Transducer-ExtendedBlack.eot?#iefix") format("embedded-opentype"),
    url("Transducer-ExtendedBlack.woff2") format("woff2"),
    url("Transducer-ExtendedBlack.woff") format("woff"),
    url("Transducer-ExtendedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
