@font-face {
    font-family: 'Transducer';
    src: url('Transducer-CondensedMedium.eot');
    src: url('Transducer-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('Transducer-CondensedMedium.woff2') format('woff2'),
        url('Transducer-CondensedMedium.woff') format('woff'),
        url('Transducer-CondensedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('Transducer-CondensedRegular.eot');
    src: url('Transducer-CondensedRegular.eot?#iefix') format('embedded-opentype'),
        url('Transducer-CondensedRegular.woff2') format('woff2'),
        url('Transducer-CondensedRegular.woff') format('woff'),
        url('Transducer-CondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transducer';
    src: url('Transducer-CondensedBold.eot');
    src: url('Transducer-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('Transducer-CondensedBold.woff2') format('woff2'),
        url('Transducer-CondensedBold.woff') format('woff'),
        url('Transducer-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

