@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-Bold.eot');
    src: url('Urbanist-Bold.eot?#iefix') format('embedded-opentype'),
        url('Urbanist-Bold.woff2') format('woff2'),
        url('Urbanist-Bold.woff') format('woff'),
        url('Urbanist-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-SemiBold.eot');
    src: url('Urbanist-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Urbanist-SemiBold.woff2') format('woff2'),
        url('Urbanist-SemiBold.woff') format('woff'),
        url('Urbanist-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-Thin.eot');
    src: url('Urbanist-Thin.eot?#iefix') format('embedded-opentype'),
        url('Urbanist-Thin.woff2') format('woff2'),
        url('Urbanist-Thin.woff') format('woff'),
        url('Urbanist-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-Black.eot');
    src: url('Urbanist-Black.eot?#iefix') format('embedded-opentype'),
        url('Urbanist-Black.woff2') format('woff2'),
        url('Urbanist-Black.woff') format('woff'),
        url('Urbanist-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-ExtraBold.eot');
    src: url('Urbanist-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Urbanist-ExtraBold.woff2') format('woff2'),
        url('Urbanist-ExtraBold.woff') format('woff'),
        url('Urbanist-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-Medium.eot');
    src: url('Urbanist-Medium.eot?#iefix') format('embedded-opentype'),
        url('Urbanist-Medium.woff2') format('woff2'),
        url('Urbanist-Medium.woff') format('woff'),
        url('Urbanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-Regular.eot');
    src: url('Urbanist-Regular.eot?#iefix') format('embedded-opentype'),
        url('Urbanist-Regular.woff2') format('woff2'),
        url('Urbanist-Regular.woff') format('woff'),
        url('Urbanist-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-ExtraLight.eot');
    src: url('Urbanist-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Urbanist-ExtraLight.woff2') format('woff2'),
        url('Urbanist-ExtraLight.woff') format('woff'),
        url('Urbanist-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-Light.eot');
    src: url('Urbanist-Light.eot?#iefix') format('embedded-opentype'),
        url('Urbanist-Light.woff2') format('woff2'),
        url('Urbanist-Light.woff') format('woff'),
        url('Urbanist-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

